* {
    font-family: Georgia;
    color: rgb(9, 56, 0);
}

.hidden {
    display: none;
}

body {
    background: #fbfbfb;
}

.content {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 10px;
}

.heading {
    grid-column: span 2;
    font-family: Impact;
    font-size: 50px;
    text-align: center;
    padding: 20px 0;
}

.settings {
    background: white;
    grid-column: span 1;
    padding: 20px 40px;
}

.data {
    grid-column: span 1;
    padding: 20px 40px;
}

.proud {
    font-size: 35px;
    font-family: Impact;
    padding: 10px 0;
}

.settings-form {
    display: grid;
    grid-template-columns: 100%;
}

.setting {
    grid-column: span 1;
    font-size: 20px;
    padding: 5px 0;
}

.setting > * {
    font-size: 20px;
}

.setting > input[type="text"] {
    text-align: center;
    width: 50px;
    margin: 0 2px;
}

.setting > input[type="submit"] {
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    background: none;
    border: 1px solid rgb(9, 56, 0);
    border-radius: 5px;
    transition: all 0.25s;
}

.setting > input[type="submit"]:hover {
    background: rgb(9, 56, 0);
    color: white;
}