<!doctype html>

<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Market Analyzer</title>
  <meta name="description" content="An interface for modeling the stock market.">
  <meta name="author" content="Daniel Etaat">

  <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">

</head>

<body>

    <div class="content">
        <div class="heading">
            Market Analyzer
        </div>
        <div class="settings">

            <div class="proud">Build a Model</div>

            <form class="settings-form" action="/" method="POST">

                <div class="setting">
                    <label class="label" for="symb">Choose a Symbol to Analyze:</label>
                    <select name="symb" id="symb">
                        <option value="BTC">BTC</option>
                    </select>
                </div>

                <div class="setting">
                    <span class="label">Input(s) to the Model:</span>
                    <input type="checkbox" id="price" name="price" onchange="newSetting(this);">
                    <label for="price">Price</label>
                    <input type="checkbox" id="volume" name="volume" onchange="newSetting(this);">
                    <label for="volume">Volume</label>
                </div>

                <div class="setting hidden" id="price-setting">
                    <label for="num-price">○ Input the past </label>
                    <input name="num-price" id="num-price" type="text" value="0"> price values into the model.
                </div>

                <div class="setting hidden" id="volume-setting">
                    <label for="num-volume">○ Input the past </label>
                    <input name="num-volume" id="num-volume" type="text" value="0"> volume values into the model.
                </div>

                <div class="setting">
                    <input type="submit" value="Build">
                </div>

            </form>
        </div>
        <div class="data">
            {{} symb }}
        </div>
    </div>

    <script src="{{ url_for('static', filename='index.js') }}"></script>

</body>
</html>